.listings-inner {
  --inner-padding: 1.5rem 0.5rem 1rem;

  background-color: $color-gray-lighter;

  margin: 0 auto;
  max-width: 90rem;
  padding: var(--inner-padding);

  border-radius: 8px;
  @media (min-width: 768px) {
    --inner-padding: 2rem;
  }

  @media (min-width: 1200px) {
    --inner-padding: 4rem;
  }
}
