.listings-outer {
  --outer-padding: 1rem 0.5rem;

  width: 100%;
  padding: var(--outer-padding);

  @media (min-width: 768px) {
    --outer-padding: 1rem;
  }

  @media (min-width: 1024px) {
    --outer-padding: 2rem;
  }

  @media (min-width: 1200px) {
    --outer-padding: 4rem;
  }
}
