@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$color-white: #fff;
$color-gray-lighter: #f4f4f4;
$color-gray-light: #e5e5e5;
$color-gray-medium: #b7b7b7;
$color-black: #333333;

$color-blue: #23a9df;
$color-green: #26cc69;

$font-primary: 'Inter', sans-serif;
